  /*-- Modified Bizstrap classes */
  .caret {
    border-top-color: rgba(255, 255, 255, 0.75) !important;
    border-bottom-color: rgba(255, 255, 255, 1.0) !important;
    }
  .container { width: 990px; }
  
  
  /*-- Global styles */
  body { font-family: "proxima-nova-1","proxima-nova-2",sans-serif; }
  h1, h2, h3 { font-family: "museo-slab-1","museo-slab-2",serif; }    
  a { outline: none; border: 0; }
  .centered_content { text-align: center !important; } 
  
  
  /*-- Sub Navigation: sticky, fixed position */
  #header_subnav { 
    background: rgba(59, 72, 80, 1.0);
    font-size: 12px;
    width: 100%;
    height: 28px;
    display: block;
    padding: 3px 0 0 0;
    position: fixed;
    z-index: 999;
    }
    #header_subnav strong { color: rgba(255, 255, 255, 1.0); }
    #header_subnav a.btn  { 
      font-size: 12px;
      padding: 1px 10px;
      color: rgba(255, 255, 255, 1.0);
      background: rgba(0, 165, 217, 1.0); }
    #header_subnav a.btn:hover  { 
      color: rgba(255, 255, 255, 1.0);
      background: rgba(0, 0, 0, 1.0); }
    #header_subnav a  { color: rgba(255, 255, 255, 0.5); }
    #header_subnav a:hover  { color: rgba(255, 255, 255, 1.0); text-decoration: none; }
    
    
   /*-- Brand and Main Navigation: top level categories */  
  #brand {
    background: rgba(0, 165, 217, 1.0) url('../images/bg-glow.png') center center no-repeat;
    width: 100%;
    display: block;
    position: absolute;
    top: 31px;
    padding: 0;
    }
    #brand img { 
      padding: 10px 0; 
      margin: 0; 
      }
    #brand .navbar { 
      margin: 0; 
      width: 100%; 
      }
      #brand .navbar .nav .dropdown-menu { 
        background: rgba(64, 187, 226, 1.0); 
        padding: 10px 20px;
        color: white;
        font-size: 12px; 
        border: 0;
        }
        #brand .navbar .nav .dropdown-menu ul li { 
          border-bottom: dotted 1px rgba(255, 255, 255, 0.5);
          list-style: none;
          padding: 5px 0;
        }
      #brand .row-fluid ul.nav { 
        height: 70px;
        font-size: 16px; 
        }
        #brand .row-fluid ul.nav li a { 
          color: rgba(255, 255, 255, 0.75);
          padding-top: 35px;
          }
          #brand .row-fluid ul.nav li a:hover { 
            color: rgba(255, 255, 255, 1.0);
            background: rgba(64, 187, 226, 1.0);
            }
    
    
    /*-- Brand and Main Navigation: top level categories */    
    #promo_container {
      background: url('../images/promo_bg.png') 0 0 repeat-x;
      width: 100%; 
      height: 410px;
      }
      #promo1 {
        background: url('bg-glow.png') center center no-repeat;
        width: 100%; 
        height: 410px;
        }
        
        
    /*-- Thought Leadership Module */    
    #thought_leadership {
      background: rgba(207, 237, 248, 0.5);
      width: 100%;
      padding: 20px 0;
      }
      #thought_leadership .well {
        padding: 10px 20px;
        margin: 10px 0;
        }
      #thought_leadership p { 
        color: rgba(0, 0, 0, 0.6);
        margin: 20px 0;
        display: block;
        font-size: 16px;
        font-weight: 400;
        }
      #thought_leadership img { 
        margin: 20px 10px 20px 20px;
        -webkit-box-shadow: 0 1px 2px rgba(50, 50, 50, 0.4);
 	  	     -moz-box-shadow: 0 1px 2px rgba(50, 50, 50, 0.4);
 		            box-shadow: 0 1px 2px rgba(50, 50, 50, 0.4); 
 		    }
 		  #thought_leadership h3 {   
 		    color: rgba(0, 0, 0, 0.6);
        font-weight: 500;
        line-height: 125%;
        }
        
        
    /*-- Customer Validation Module: customer logos and video testimonial */
    #customer_vaildation {
      background: rgba(59, 72, 80, 0.1);
      padding: 20px 0;
      }    
      #customer_vaildation img.customer_logo { margin: 0 3px; }
        
        
    /*-- Accolades Module: industry recognition and awards */
    #accolades {
      background: rgba(59, 72, 80, 0.1);
      padding: 20px 0;
      border-top: 1px dashed rgba(0, 0, 0, 0.25);
      }    
      #accolades img.award { margin: auto; display:block; }
        
        
    /*-- Footer */
    #footer {
      background: rgba(59, 72, 80, 1.0);
      font-size: 12px;
      color: rgba(255, 255, 255, 1.0);
      padding: 20px 0;
      }
      #footer hr { border-top: 1px dashed rgba(255, 255, 255, 0.2); display: block; height: 1px; }
      #footer ul li  { list-style: none; margin: 0 0 0 -25px; }
      #footer a  { color: rgba(255, 255, 255, 0.5); }
      #footer a:hover  { color: rgba(255, 255, 255, 1.0); text-decoration: none; }

        